@import url('https://fonts.googleapis.com/css?family=Montserrat');

ion-list {

   font-family: 'Montserrat', sans-serif;

}

.btn-grad-list {background-color: white;}
.btn-grad-list:active {  background-color:  whitesmoke; }