@import url('https://fonts.googleapis.com/css?family=Montserrat');
page-create-itinerary {
    border-radius: 11px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.labelNew {
    font-weight: bold;
}
input {
    border: 0;
}
